<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="css/main.css">
<body>
  <div class="container">
    <div class="adi">
      <h2>Codeforces Graph</h2>
  </div>
  <div>
    <div class="form-group">
      <label for="handle">Handle:<br></label>
      <input type="text" class="form-control" id="handle" placeholder="Enter Handle" name="handle" required>
    </div>
    <input type="submit" class="btn btn-default" value="Submit" onclick="kk();"/>
  </div>
    <div id="myDiv"></div>
  </div>

  <script src="js/main.js"></script>

</body>
</html>
